zalsteksts {
color: green;
border-style: dashed;
}

#zils123 {
color: blue;
font-size: large;
}

.omlete {
border-style:double;
border-color: blueviolet;
}

#ipassramitis {
border-style: dashed;
border-color: black;
margin: 20px;
padding: 20px;
width: 80%;
display: grid;
grid-template-columns: 40% 40%;
}

ul li {
    font-style: italic;
}
ol li {
    text-decoration: underline;
}
body {
    background-color: brown;
}