#krasa {
color: aqua;
}

.raamis {
display: flex;
width: 50%;
margin-right: 25%;
margin-left: auto;
border-style: groove ;
}

.kolonna {
flex: 40%;
margin 50px;
padding: 20px;
background-color: darkgray;
}

.kolonna2 {
flex: 60%;
padding: 20px;
background-color: darkcyan;
}

ul li {
    font-style: italic;
}

body {
    background-color: brown;
}